.section_container {
    background-image: url('../../assets/background-best-friend.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 56vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.information_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 38.4px;

    text-transform: capitalize;

    color: #374231;
}

.title_highlight {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 38.4px;
    text-transform: capitalize;

    color: #496F35;
}

.information {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 19.2px;
    text-align: center;
    text-transform: capitalize;
    width: 439px;
    color: #FFFFFF;

}

.button {
    background: #496F35;
    box-shadow: 0px 0px 16px rgba(73, 111, 53, 0.7);
    border-radius: 20.8px;
    width: 200px;
    height: 40px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 19.2px;



    color: #DAF0CE;

}